h1{
    display: flex;
    justify-content: center;
    font-style: italic;
}

#form-create-car-owner{
    display: flex;
    flex-direction: column;
    align-items: center; 
;}

.form-input-text{
    width: 50vh;
    height: 0.75cm;
    font-size: larger;
}

.form-label{
    font-size: large;
    font-family: Cambria;
}

#car-owner-form-submit-input{
    font-family: cambria;
    font-size: x-large;
}

#car-owner-form-submit-button{
    font-size: large;
    
}
