<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/main.css">
    $$CSS_LINKS$$
    <link rel="icon" href="../../assets/images/carDriving.jpg">
    
    <title>Driving Cats</title>


</head>
<body>
    <nav id="nav-header">
        <a  href="/"><img id="logo" src="../../assets/images/carDriving.jpg" alt=""></a>
        <a href="/carowner">Car Owner</a>
        <a href="/newCarOwner"> Create Car Owner</a>
        <a href="/carOwners"> All Car Owners</a>
    </nav>
<main>